arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
discoverrc
drkonqirc
# Autoupdated by Plasma, no need to keep it in repo
gtkrc
# Autoupdated by Plasma, no need to keep it in repo
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kconf_updaterc
ksmserverrc
kwalletrc
kwinoutputconfig.json
kwinrulesrc
kxkbrc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmaparc
plasmashellrc
powermanagementprofilesrc
QtProject.conf
spectaclerc
trashrc

Code - OSS/*
!Code - OSS/User
Code - OSS/User/*
!Code - OSS/User/settings.json

dconf/
evolution/
fcitx/

fcitx5/*
!fcitx5/profile

ibus/
KDE/
libaccounts-glib/
mozilla/
pulse/
session/
vim/